name: Check Branch Alias

on:
  release:
    types: [published]
  workflow_dispatch:

permissions: {}

jobs:
  check-branch-alias:
    uses: wp-cli/.github/.github/workflows/reusable-check-branch-alias.yml@main
