name: Code Quality Checks

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - master

permissions:
  contents: read

jobs:
  code-quality:
    uses: wp-cli/.github/.github/workflows/reusable-code-quality.yml@main
