---
name: Manage Labels

'on':
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - 'composer.json'

jobs:
  manage-labels:
    uses: wp-cli/.github/.github/workflows/reusable-manage-labels.yml@main
